.dogcontainer {
    margin-top: 50px;
    width: 70%;
    margin: 0 auto;
}


.dogbox {
    position: relative;
    top: 100px;


}

.dogprofile {
    margin: 0 auto;
    text-align: center;
}

.dog_img {
    margin: 0 auto;
}
