body {
    font-family: "Futura", Helvetica, sans-serif;
}

.test-container {
position: relative;
display: block;
width: 100%;
height: auto;
margin: 0 auto;
}
@media screen and (max-width: 600px) {
    .test-container {
        height: 400px;
    }
}

.dogback {
width: inherit;
height: inherit;
background-repeat: repeat-y;
background-size: 500px auto;
}

.title-page-wrap.page-wrap {
    display: block;
    position: absolute;
    top: 18%;
    left: 5%;
    right: 5%;
    margin: 0 auto;
    width: 90%;
    height: 600px;
    background-color: rgb(248, 248, 255, 0.7);
}
@media screen and (max-width: 600px) {
    .title-page-wrap.page-wrap {
    display: block;
    position: absolute;
    top: 18%;
    left: 5%;
    right: 5%;
    margin: 0 auto;
    width: 90%;
    height: 70%;
    background-color: rgb(248, 248, 255, 0.7);
    }
}

.page-wrap {
display: block;
position: absolute;
top: 100px;
left: 5%;
right: 5%;
margin: 0 auto;
width: 90%;
height: 655px;
background-color: rgba(248,248,255, 0.7);
}
@media screen and (max-width: 600px) {
    .page-wrap {
        position: absolute;
        top: 90px;
        left: 5%;
        right: 5%;
        height: 34%;
    }
}

.page-wrap.dog {
    height: inherit;
    background-color: #ffeaff;
}

.title-wrap {
position: absolute;
top: 10px;
width: 100%;
height: auto;
}
@media screen and (max-width: 600px) {
    .title-wrap {
        position: inherit;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width:50%;
    }
}

.title-wrap > h1 {
text-align: center;
margin-top: 50px;
}
@media screen and (max-width: 600px) {
    .title-wrap > h1  {
        margin: 0;
        font-size: 12px;
    }
}

.title-wrap > h2 {
    text-align: center;
}
@media screen and (max-width: 600px) {
    .title-wrap > h2  {
        font-size: 12px;
    }
}


.small {
    font-size: 20px;
    transform: translateX(-50%);
}
@media screen and (max-width: 600px) {
    .small {
        font-size: 50%;
    }
}


.btn-wrap {
display: block;
width: 100%;
text-align: center;
position: absolute;
top: 65%;
}
@media screen and (max-width: 600px) {
    .btn-wrap {
        display: block;
        width: 100%;
        height: 30%;
        text-align: center;
        position: absolute;
        top: 68%;
    }
}

.btn-wrap.start {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    position: absolute;
    top: 55%;
}

.close-btn-close {
    position: absolute;
    right: 15px;
    border-bottom: solid 1px #6a5acd;
    font-size: 20px;
}
@media screen and (max-width: 600px) {
    .close-btn-close {
        bottom: 70;
        font-size: 70%
    }
}


.select-wrap {
margin: 0 auto;
position: relative;
top: 35%;
width: 80%;
height: 15%;
display: flex;
justify-content: space-around;
}
@media screen and (max-width: 600px) {
    .select-wrap {
        position: relative;
        top: 40%;
        flex-direction: column;
        gap: 10px;
    }
}

.select-wrap > h2 {
font-size: 30px;
}
@media screen and (max-width: 600px) {
    .select-wrap > h2 {
        font-size: 80%;
        text-align: center;
    }
}

.select {
position: relative;
width: 300px;
height: 90px;
border-radius: 5%;
font-size: 40px;
background-color: white;
border-style: ridge;
border-width: 10px;
}
@media screen and (max-width: 600px) {
    .select {
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        height: 85%;
        border-radius: 5%;
        font-size: 50%;
        border-style: ridge;
        border-width: 7px;
    }
}

.select.yes {
    border-color: pink;
}
@media screen and (max-width: 600px) {
    .select.yes {
        margin-right: 0px;
    }
}

.select.yes.counted {
    background: #dda0dd;
    box-shadow: 10px 5px 5px #da70d6;
}

.select.no {
    border-color:#4169e1;
}
@media screen and (max-width: 600px) {
    .select.no {
        margin-left: 0px;
    }
}

.select.no.counted {
    background: #87cefa;
    box-shadow: 10px 5px 5px #87ceeb;
}

.answer-wrap {
display: block;
margin: 0 auto;
flex-wrap: wrap;
width: 100%;
height: 90px;
}
@media screen and (max-width: 600px) {
    .answer-wrap {
        display: flex;
        margin: 0 auto;
        padding-top: 15px;
        flex-wrap: wrap;
        width: 100%;
        height: 90px;
    }
}

.answer-wrap > h2 {
    margin-top: 50px;
}
@media screen and (max-width: 600px) {
    .answer-wrap > h2  {
        margin-top: 15px;
        font-size: 10.5px;
    }
}

.answer-title {
    position: relative;
    top: 20px;
    font-size: 30px;
}
@media screen and (max-width: 600px) {
    .answer-title {
        font-size: 20px;
    }
}

.img-wrap1 {
    height: auto;
}

.img1 {
    display: inline-block;
    position: relative;
    top: -50px;
    transform: rotate(5deg);
    width: 25%;
    }
@media screen and (max-width: 600px) {
    .img1 {
        position: relative;
        top: 15px;
    }
}

.img2 {
    display: inline-block;
    position: relative;
    left: 52%;
    top: -15%;
    transform: rotate(-5deg);
    width: 20%;
}
@media screen and (max-width: 600px) {
    .img2 {
        position: relative;
        top: 0px;
    }
}

.answer-wrap > span {
    display: block;
    font-size: 18px;
}
@media screen and (max-width: 600px) {
    .answer-wrap > span {
        font-size: 10.5px;
    }
}

.img-wrap2 {
    height: auto;
    margin-top: 150px;
}

.img3 {
    display: inline-block;
    position: relative;
    left: 100px;
    transform: rotate(-5deg);
    width: 25%;
}
@media screen and (max-width: 600px) {
    .img3 {
        position: relative;
        left: 20px;
        top: -110px;
    }
}

.img4 {
    display: inline-block;
    position: relative;
    left: 470px;
    transform: rotate(10deg);
    width: 25%;
}
@media screen and (max-width: 600px) {
    .img4 {
        position: relative;
        left: 185px;
        top: -110px;
    }
}


.tool-btn {
display: block;
background-color: #fffafa;
border-color: #dcdcdc;
border-style: ridge;
border-width: 10px;
margin: 0 auto;
width: 300px;
height: 70px;
border-radius: 5%;
font-size: 30px;
}
@media screen and (max-width: 600px) {
    .tool-btn {
        border-style: ridge;
        border-width: 7px;
        width: 30%;
        height: 40%;
        font-size: 50%;
        margin-top: 0px;
    }
}
@media screen and (max-width: 600px) {
    .tool-btn.btn-start {
        height: 50%;
    }
}

.tool-btn:active {
    box-shadow: 10px 5px 5px #a9a9a9;
    animation-duration: 1.0s;
    }

    @media screen and (max-width: 600px) {
        .br-sp {
            display: none;
        }
    }